canvas {
	border: 3px solid red;	
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: #a0bee6; /* baby blue */
	position: absolute;
	height: 100%;
	width: 100%;
}

#flex-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

#introText {
	color: #FFFFFF; /* white */	
	font-family: 'Great Vibes', cursive;
	margin: 0;
	padding: 0;
	font-size: 200px;
	transition: transform .9s ease-in-out;
	/*border: 3px solid orange;*/
}

#introText:hover {
	transform: scale(1.12);
}

.dot {
	position: absolute;
	height: 26px;
	width: 26px;
	border-radius: 50%;
}

.regressionDotFlexContainer {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
}

.dot.data {
	position: absolute;
	z-index: 1;
	background-color: #cfcdc1; /* silver */
}

.dot.regression {
	position: absolute;
	z-index: 2;
	background-color: #FFFFFF; /* white */
	animation-name: jitter;
    animation-delay: 0.7s;
	animation-duration: 1.6s;
    animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin: 0;
}

@keyframes jitter {
	from {
        opacity: 0.8
	}
	to {
		opacity: 0.2
	}
}