canvas {
	border: 3px solid red;	
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: #a0bee6; /* baby blue */
	display: flex;
	align-items: center;
	justify-content: center
}

.introText {
	color: #FFFFFF; /* white */	
	font-family: 'Great Vibes', cursive;
	margin: 0;
	padding: 0;
	font-size: 200px;
	transition: all .9s ease-in-out;
	/*border: 3px solid orange;*/
}

.introText:hover {
	font-size: 210px;
	transform: scale(1.1);
}

.dot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

.dot.data {
	background-color: #cfcdc1; /* silver */
}

.dot.regression {
	background-color: #FFFFFF; /* white */	
}